.authentication-container {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}