.authentication-container {
    background-color: #e2e2e2e2;
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
    display: flex;
    width: 900px;
    justify-content: space-between;
    margin: 30px auto;
}